<form action="/update/<%= @upd_board.id %>" method="POST">
    
    제목 : <input type="string" name="input_title" value=""> <br>
    작성자 : <input type="string" name="<input_editor>" value=""> <br> 
    내용 : <input type="text" name="input_content" placeholder="자유롭게 남겨주세요"> <br>
    <input type="submit" value="수정하기!"> <br>

</form>