<h1>게시판</h1>

<a href="/new"><h2>글쓰기</h2></a>

<% @Board.each do |q| %>
<hr>
    질문번호 : <%= q.id %><br>
    제목 : <a href="/show<%= q.id %>"><%= q.title %></a> <br>
    작성자 : <%= q.editor %> <br>

<% end %>
<hr>