<form action="/create" method="POST">
    <br>
    <h3>
    제목 : <input type="string" name="input_title" value="">    <br>
    작성자 : <input type="string" name="<input_editor>" value="">     <br> 
    내용 : <input type="text" name="input_content" placeholder="자유롭게 남겨주세요">     <br>
    </h3>
    <input type="submit" value="작성하기!"> <br>

</form>
<hr>